html{
    font-size: 30px;
}
.one{
    color: coral;
}
.two{
    font-size: 2rem;
}
.three{
    font-weight: 900;
}
.four{
    font-family: 'Caveat', cursive;
    /* not sure if adding the font weight of (400) was necessary because the linked font is already (caveat regular 
    400) but when I added the "font-weight: 400;",nothing changed */
    font-weight: 400;
}
.five{
    text-align: right;
}